# ----------------------------
# Composer
# ----------------------------
/vendor/
/composer.lock

# ----------------------------
# PHP
# ----------------------------
*.cache
*.log
*.tmp
*.swp
*.bak
*.phpunit.result.cache

# ----------------------------
# Framework / App
# ----------------------------
/node_modules/
/public/storage/
/storage/
/bootstrap/cache/
/.env
/.env.local
/.env.*.local

# ----------------------------
# IDEs
# ----------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ----------------------------
# OS
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Logs
# ----------------------------
/logs/
/*.log

# ----------------------------
# Tests
# ----------------------------
/coverage/
/phpunit.xml
/phpunit.xml.dist

# ----------------------------
# Cache
# ----------------------------
.cache/
.php-cs-fixer.cache

# ----------------------------
# Misc
# ----------------------------
/*.bak
*.orig
*.rej
*.swp